extends layout

block content

  h1 Dodaj predavanje

  form(action="/predavanja/dodaj" method="POST")
    .form-group
      label(for='student') Student
      select#student.form-control(name="student")
        each student in studenti
          option(value=student.ID_STUDENTA)= `${student.IME_STUDENTA} ${student.PREZIME_STUDENTA} ${student.BROJ_INDEKSA}`

    .form-group
      label(for='predmet') Predmet
      select#predmet.form-control(name="predmet")
        each predmet in predmeti
          option(value=predmet.ID_PREDMETA)= `${predmet.NAZIV_PREDMETA}`


    .form-group
      label(for='profesor') Profesor
      select#profesor.form-control(name="profesor")
        each profesor in profesori
          option(value=profesor.ID_PROFESORA)= `${profesor.IME_PROFESORA} ${profesor.PREZIME_PROFESORA}`

    .form-group
      label(for='prisutnost') Prisutnost
      input#prisutnost.form-control(type='number' required max="100" min="0" name="prisutnost" placeholder='Procenat prisutnosti')

    button.btn.btn-primary(type='submit') Dodaj
