extends layout

block content

  .container-fluid

    h1.my-5 Spisak studenata

    table.table
      thead
        tr
          th #
          th Ime
          th Prezime
          th Broj Indeksa
          th NAZIV PREDMETA
          th PROFESOR
          th PRISUTNOST
          th USLOV ZA POTPIS
      tbody
        each student, index in studenti
          tr
            th= index + 1
            td= student.IME_STUDENTA
            td= student.PREZIME_STUDENTA
            td= student.BROJ_INDEKSA
            td= student.NAZIV_PREDMETA
            td= `${student.IME_PROFESORA} ${student.PREZIME_PROFESORA}`
            td= student.PRISUTNOST + "%"

            if student.PRISUTNOST >= 50
              td.text-success DA
            else
              td.text-danger NE
